<div [ngSwitch]="theme">

  <!--default icon buttons-->
  <div *ngSwitchDefault
       [fxLayout]="layout"
       fxLayout.xs="column"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-button
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Google)">
      <mat-icon svgIcon="google-colored"></mat-icon>
      Google
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-button
            class="facebook-filled"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      <mat-icon svgIcon="facebook"></mat-icon>
      Facebook
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-button
            class="twitter-filled"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      <mat-icon svgIcon="twitter"></mat-icon>
      Twitter
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-button
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Github)">
      <mat-icon svgIcon="github"></mat-icon>
      GitHub
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-button
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      <mat-icon svgIcon="microsoft"></mat-icon>
      Microsoft
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-button
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      <mat-icon svgIcon="yahoo"></mat-icon>
      Yahoo
    </button>
  </div>

  <!--classic-->
  <div *ngSwitchCase="themes.CLASSIC"
       class="buttons-classic"
       [fxLayout]="layout"
       fxLayout.xs="column"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-button
            class="google-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Google)">
      Google
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-button
            class="facebook-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      Facebook
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-button
            class="twitter-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      Twitter
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-button
            class="github-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Github)">
      GitHub
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-button
            class="microsoft-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      Microsoft
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-button
            class="yahoo-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      Yahoo
    </button>
  </div>

  <!--stroked-->
  <div *ngSwitchCase="themes.STROKED"
       class="buttons-classic"
       [fxLayout]="layout"
       fxLayout.xs="column"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-stroked-button
            class="google-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Google)">
      Google
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-stroked-button
            class="facebook-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      Facebook
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-stroked-button
            class="twitter-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      Twitter
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-stroked-button
            class="github-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Github)">
      GitHub
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-stroked-button
            class="microsoft-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      Microsoft
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-stroked-button
            class="yahoo-classic"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      Yahoo
    </button>
  </div>

  <!--raised-->
  <div *ngSwitchCase="themes.RAISED"
       class="buttons-raised"
       [fxLayout]="layout"
       fxLayout.xs="column"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-raised-button
            class="google-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Google)">
      Google
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-raised-button
            class="facebook-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      Facebook
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-raised-button
            class="twitter-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      Twitter
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-raised-button
            class="github-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Github)">
      GitHub
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-raised-button
            class="microsoft-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      Microsoft
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-raised-button
            class="yahoo-raised"
            [ngClass.xs]="{'space-full-xs':true}"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      Yahoo
    </button>
  </div>

  <!--fab-->
  <div *ngSwitchCase="themes.FAB"
       class="buttons-raised"
       [fxLayout]="layout"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-fab
            class="google-raised"
            (click)="authProcess.signInWith(authProvider.Google)">
      <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-fab
            class="facebook-raised"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      <mat-icon svgIcon="facebook"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-fab
            class="twitter-raised"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      <mat-icon svgIcon="twitter"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-fab
            class="github-raised"
            (click)="authProcess.signInWith(authProvider.Github)">
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-fab
            class="microsoft"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      <mat-icon svgIcon="microsoft"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-fab
            class="yahoo-raised"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      <mat-icon svgIcon="yahoo"></mat-icon>
    </button>
  </div>

  <!--mini-fab-->
  <div *ngSwitchCase="themes.MINI_FAB"
       class="buttons-raised"
       [fxLayout]="layout"
       fxLayoutAlign.xs="center center"
       [fxLayoutAlign]="layout == 'row' ? 'space-around center' : 'stretch'">
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Google)"
            mat-mini-fab
            class="google-raised"
            fxFlexAlign="center"
            (click)="authProcess.signInWith(authProvider.Google)">
      <mat-icon svgIcon="google"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Facebook)"
            mat-mini-fab
            class="facebook-raised"
            (click)="authProcess.signInWith(authProvider.Facebook)">
      <mat-icon svgIcon="facebook"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Twitter)"
            mat-mini-fab
            class="twitter-raised"
            (click)="authProcess.signInWith(authProvider.Twitter)">
      <mat-icon svgIcon="twitter" class="icon-white"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Github)"
            mat-mini-fab
            class="github-raised"
            (click)="authProcess.signInWith(authProvider.Github)">
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Microsoft)"
            mat-mini-fab
            class="microsoft"
            (click)="authProcess.signInWith(authProvider.Microsoft)">
      <mat-icon svgIcon="microsoft"></mat-icon>
    </button>
    <button *ngIf="providers === authProvider.ALL || providers.includes(authProvider.Yahoo)"
            mat-mini-fab
            class="yahoo-raised"
            (click)="authProcess.signInWith(authProvider.Yahoo)">
      <mat-icon svgIcon="yahoo"></mat-icon>
    </button>
  </div>
</div>
