.edit-button {
  margin: 1rem;
}

.full-width {
  width: 100%;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.none-card {
  min-height: 430px;

  span {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, .54);
  }
}
