<div *ngIf="auth.authState| async as user; then authenticated else none">

</div>

<ng-template #authenticated>
  <mat-card *ngIf="auth.user | async as user" fxLayout="column" fxLayoutAlign="center center">
    <!--<form [formGroup]="updateFormGroup" >-->
    <!--card header-->
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">

      <img mat-card-avatar [src]="authProcess.getUserPhotoUrl()">

      <div *ngIf="user.emailVerified; then emailVerified else emailNotVerified"></div>
      <ng-template #emailVerified>
        <mat-icon color="primary"
                  matTooltip="email is verified"
                  matTooltipPosition="after">
          verified_user
        </mat-icon>
      </ng-template>
      <ng-template #emailNotVerified>
        <mat-icon color="warn"
                  matTooltip="email is not verified"
                  matTooltipPosition="after">
          warning
        </mat-icon>
      </ng-template>

    </mat-card-header>

    <!--card content-->
    <mat-card-content *ngIf="editMode; then edit else readonly">
    </mat-card-content>

    <ng-template #edit>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <div fxLayoutAlign="center">
          <button mat-raised-button color="warn" class="edit-button"
                  (click)="changeEditMode()">
            cancel
          </button>
        </div>
        <form [formGroup]="updateFormGroup" (submit)="save()">
          <!--name-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput
                   placeholder="Name"
                   [formControl]="updateNameFormControl"
                   [value]="user.displayName">
          </mat-form-field>

          <!--email-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput
                   placeholder="E-mail"
                   [formControl]="updateEmailFormControl"
                   [value]="user.email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="updateEmailFormControl.hasError('required')">
              E-mail is required {{updateEmailFormControl.value}}
            </mat-error>
            <mat-error *ngIf="updateEmailFormControl.hasError('pattern')">
              Please enter a valid e-mail address {{updateEmailFormControl.value}}
            </mat-error>
          </mat-form-field>

          <!--phone number-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput
                   placeholder="Phone number"
                   [value]="user.phoneNumber">
          </mat-form-field>
        </form>
      </mat-card-content>
    </ng-template>

    <ng-template #readonly>
      <div fxLayoutAlign="center">
        <button mat-raised-button color="primary" class="edit-button"
                (click)="changeEditMode()">
          edit
        </button>
      </div>

      <!--name-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput
               placeholder="Name"
               [value]="user.displayName"
               [disabled]="!editMode">
        <mat-icon matSuffix color="primary">person</mat-icon>
      </mat-form-field>

      <!--email-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput
               placeholder="E-mail" [value]="user.email"
               [disabled]="!editMode">
        <mat-icon matSuffix color="primary">email</mat-icon>
      </mat-form-field>

      <!--phone number-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput
               placeholder="Phone number"
               [value]="user.phoneNumber"
               [disabled]="!editMode">
        <mat-icon matSuffix color="primary">phone</mat-icon>
      </mat-form-field>

    </ng-template>

    <!--actions-->
    <mat-card-actions fxLayout="column">

      <div *ngIf="editMode; then editActions else defaultActions">
      </div>

      <ng-template #editActions>
        <button mat-button
                color="primary"
                type="submit">
          Save changes
        </button>
      </ng-template>

      <ng-template #defaultActions>
        <button mat-button color="primary" (click)="auth.auth.signOut()">Sign out</button>
        <button mat-button color="warn" (click)="deleteAccount()">Delete account</button>
      </ng-template>

    </mat-card-actions>
    <!--</form>-->
  </mat-card>

</ng-template>


<ng-template #none>
  <mat-card class="none-card" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <mat-icon color="accent">warning</mat-icon>
      <span>You are not logged in!</span>
    </mat-card-content>
  </mat-card>
</ng-template>
