<mat-card *ngIf="auth.authState| async as user">

  <mat-card-header fxLayout="column" fxLayoutAlign="center center">

    <img mat-card-avatar [src]="authProcess.getUserPhotoUrl()">

    <div *ngIf="user.emailVerified; then emailVerified else emailNotVerified"></div>
    <ng-template #emailVerified>
      <mat-icon color="primary"
                matTooltip="email is verified"
                matTooltipPosition="after">
        verified_user
      </mat-icon>
    </ng-template>
    <ng-template #emailNotVerified>
      <mat-icon color="warn"
                matTooltip="email is not verified"
                matTooltipPosition="after">
        warning
      </mat-icon>
    </ng-template>

  </mat-card-header>

  <mat-card-content>
    <div fxLayoutAlign="center">
      <button mat-raised-button [color]="editMode ? 'warn' : 'primary' " class="edit-button"
              (click)="editMode = !editMode">
        {{ editMode? "cancel" : "edit"}}
      </button>
    </div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" [value]="user.displayName" [disabled]="!editMode">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="E-mail" [value]="user.email" [disabled]="!editMode">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Phone number" [value]="user.phoneNumber" [disabled]="!editMode">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayout="column">
    <div *ngIf="editMode; then editActions else defaultActions">
    </div>
    <ng-template #editActions>
      <button mat-button color="primary" (click)="save()">Save changes</button>
    </ng-template>
    <ng-template #defaultActions>
      <button mat-button color="primary" (click)="auth.auth.signOut()">Sign out</button>
      <button mat-button color="warn" (click)="deleteAccount()">Delete account</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
