<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Terms of services</h1>
  </div>
</div>

<div class="container">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        add a tos url
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="firstExample"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="firstExample"
                  matTooltip="copy"
                  (click)="showCopyMessage(firstExample)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui [tabIndex]="1" tosUrl="/legal/tos"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        add a private policy url
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="secondExample"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="secondExample"
                  matTooltip="copy"
                  (click)="showCopyMessage(secondExample)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui [tabIndex]="1" privacyPolicyUrl="/legal/tos"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        add both tos and private policy url
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="thirdExample"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="thirdExample"
                  matTooltip="copy"
                  (click)="showCopyMessage(thirdExample)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui [tabIndex]="1"
                             tosUrl="/legal/tos"
                             privacyPolicyUrl="/legal/privacy"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>
  </div>

</div>
