<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Examples</h1>
  </div>
</div>

<section>
  <div class="container">

    <div fxLayout="column"
         fxLayout.gt-lg="row"
         fxLayoutGap="2rem"
         fxLayoutAlign="center"
         fxLayoutAlign.gt-lg="center wrap">

      <mat-card matRipple routerLink="appearance">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the appearance input</mat-card-title>
          <mat-card-subtitle>pick the mat form field's appearance that fits your app</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="providers">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the providers input</mat-card-title>
          <mat-card-subtitle>pick the provider that fits your app</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="tabIndex">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the tabIndex input</mat-card-title>
          <mat-card-subtitle>choose whether the sign in or register is the default active tab</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="registration">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the registrationEnabled input</mat-card-title>
          <mat-card-subtitle>optional</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="guest">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the guestEnabled input</mat-card-title>
          <mat-card-subtitle>optional</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="tos">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the tos and privacy policy URL</mat-card-title>
          <mat-card-subtitle>optional</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="messages">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the messages input</mat-card-title>
          <mat-card-subtitle>change the snackbar messages anytime and in runtime!</mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>

      <mat-card matRipple routerLink="gobackurl">
        <div fxHide
             fxShow.gt-lg
             fxLayout="column"
             fxLayoutAlign="center center">
          <img src="assets/logo.svg" mat-card-md-image>
        </div>
        <mat-card-title-group>
          <mat-card-title>Explore the go back URL input</mat-card-title>
          <mat-card-subtitle>
            Specify a route to redirect to after clicking "go back" when creating a new user
          </mat-card-subtitle>
          <img fxHide.gt-lg src="assets/logo.svg" mat-card-md-image>
        </mat-card-title-group>
      </mat-card>
    </div>
  </div>
</section>
