.mat-card {
  margin: 2rem;

  mat-checkbox {

  }

}

.space-top {
  margin-top: .5rem;
}

.full-width {
  width: 100%;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
