<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>ngx-auth-firebaseui-avatar</h1>
  </div>
</div>


<div class="container">
  <mat-toolbar color="primary">
    <span fxFlex></span>
    <ngx-auth-firebaseui-avatar [links]="links"></ngx-auth-firebaseui-avatar>
  </mat-toolbar>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div>
            <pre><code [highlight]="exampleTS"></code></pre>
            <pre><code [highlight]="example"></code></pre>
          </div>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="example"
                  matTooltip="copy"
                  (click)="showCopyMessage(example)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content fxLayoutAlign="center center">
        <ngx-auth-firebaseui-avatar [links]="links"></ngx-auth-firebaseui-avatar>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="example"
                  matTooltip="copy"
                  (click)="showCopyMessage(example)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui>
        </ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>
  </div>
</div>






