<mat-card-actions fxLayoutAlign="space-around center">
    <button mat-button (click)="signInProcess.signInWithGoogle()">
        <mat-icon svgIcon="google"></mat-icon>
        Google
    </button>
    <button mat-button (click)="signInProcess.signInWithFaceBook()">
        <mat-icon svgIcon="facebook"></mat-icon>
        Facebook
    </button>
    <button mat-button (click)="signInProcess.signInWithTwitter()">
        <mat-icon svgIcon="twitter"></mat-icon>
        Twitter
    </button>
    <button mat-button (click)="signInProcess.signInWithGithub()">
        <mat-icon svgIcon="github"></mat-icon>
        GitHub
    </button>
</mat-card-actions>