<div fxLayout="column" id="register">
  <div fxLayout="column" fxLayoutAlign="center center" id="register-form-wrapper">
    <div id="register-form" [@animateStagger]="{ value: '50' }">

      <div *ngIf="logoUrl" class="logo">
        <img [src]="logoUrl" alt="logo" [@animate]="{ value: '*', params: { x: '50px' } }">
      </div>

      <div class="title" [@animate]="{ value: '*', params: { x: '-50px' } }">{{titleText}}</div>

      <form [formGroup]="registerForm" name="registerForm" novalidate>
        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="name" matInput placeholder="Name"/>
          <mat-icon matSuffix color="primary">person</mat-icon>
          <mat-error>
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="email" matInput [placeholder]="emailText"/>
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-error *ngIf="registerForm.get('email').hasError('required')">
            {{emailErrorRequiredText}}
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">
            {{emailErrorPatternText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="password" matInput [placeholder]="passwordText" type="password"/>
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error>
            {{passwordErrorRequiredText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="passwordConfirm" matInput [placeholder]="passwordConfirmationText" type="password"/>
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            {{passwordConfirmationErrorRequiredText}}
          </mat-error>
          <mat-error
            *ngIf="
              !registerForm.get('passwordConfirm').hasError('required') &&
              registerForm.get('passwordConfirm').hasError('passwordsNotMatching')
            ">
            {{passwordErrorMatchText}}
          </mat-error>
        </mat-form-field>

        <div class="terms" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox aria-label="I read and accept" name="terms" required>
            <span>{{readAncAcceptText}}</span>
          </mat-checkbox>
          <button mat-button color="primary">{{termsAndConditionsText}}</button>
        </div>

        <button
          [disabled]="registerForm.invalid"
          aria-label="CREATE AN ACCOUNT"
          class="submit-button"
          color="accent"
          mat-raised-button>
          {{createAccountButtonText}}
        </button>
      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">{{alreadyHaveAccountText}}</span>
        <button mat-button color="accent">{{loginButtonText}}</button>
      </div>
    </div>
  </div>
</div>
