<div fxLayout="column" id="register">
  <div fxLayout="column" fxLayoutAlign="center center" id="register-form-wrapper">
    <div [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }" id="register-form">
      <div class="logo">
        <img src="assets/images/logos/fuse.svg" />
      </div>

      <div class="title">CREATE AN ACCOUNT</div>

      <form [formGroup]="registerForm" name="registerForm" novalidate>
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name" />
          <mat-icon matSuffix color="primary">person</mat-icon>
          <mat-error>
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" />
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-error *ngIf="registerForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password" type="password" />
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="passwordConfirm" matInput placeholder="Password (Confirm)" type="password" />
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
          </mat-error>
          <mat-error
            *ngIf="
              !registerForm.get('passwordConfirm').hasError('required') &&
              registerForm.get('passwordConfirm').hasError('passwordsNotMatching')
            "
          >
            Passwords must match
          </mat-error>
        </mat-form-field>

        <div class="terms" fxLayout="row" fxLayoutAlign="center center">
          <mat-checkbox aria-label="I read and accept" name="terms" required>
            <span>I read and accept</span>
          </mat-checkbox>
          <a href="#">terms and conditions</a>
        </div>

        <button
          [disabled]="registerForm.invalid"
          aria-label="CREATE AN ACCOUNT"
          class="submit-button"
          color="accent"
          mat-raised-button
        >
          CREATE AN ACCOUNT
        </button>
      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Already have an account?</span>
        <a [routerLink]="'/pages/auth/login'" class="link">Login</a>
      </div>
    </div>
  </div>
</div>
