<div id="register" fxLayout="column">

  <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="register-form" [@animateStagger]="{ value: '50' }">

      <div *ngIf="logoUrl" class="logo">
        <img [src]="logoUrl" alt="logo" [@animate]="{ value: '*', params: { x: '50px' } }">
      </div>

      <div class="title" [@animate]="{ value: '*', params: { x: '-50px' } }">{{titleText}}</div>

      <form [formGroup]="registerForm" name="registerForm" novalidate
            [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="name" matInput [placeholder]="nameText"/>
          <mat-icon matSuffix [color]="color">person</mat-icon>
          <mat-error>
            {{nameErrorRequiredText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="email" matInput [placeholder]="emailText"/>
          <mat-icon matSuffix [color]="color">email</mat-icon>
          <mat-error *ngIf="registerForm.get('email').hasError('required')">
            {{emailErrorRequiredText}}
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">
            {{emailErrorPatternText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="password" matInput [placeholder]="passwordText" type="password"/>
          <mat-icon matSuffix [color]="color">lock</mat-icon>
          <mat-error>
            {{passwordErrorRequiredText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input formControlName="passwordConfirm" matInput [placeholder]="passwordConfirmationText" type="password"/>
          <mat-icon matSuffix [color]="color">lock</mat-icon>
          <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            {{passwordConfirmationErrorRequiredText}}
          </mat-error>
          <mat-error
            *ngIf="
              !registerForm.get('passwordConfirm').hasError('required') &&
              registerForm.get('passwordConfirm').hasError('passwordsNotMatching')
            ">
            {{passwordErrorMatchText}}
          </mat-error>
        </mat-form-field>

        <!--        <div *ngIf="this.tosUrl || this.privacyPolicyUrl"-->
        <!--        <div-->
        <!--          class="terms"-->
        <!--          fxLayout="row" fxLayoutAlign="center center"-->
        <!--          [@animate]="{value:'*',params:{duration:'250ms',y:'100px'}}">-->
        <!--          <mat-checkbox aria-label="I read and accept" name="terms" required>-->
        <!--            <span>{{readAncAcceptText}}</span>-->
        <!--            <span>&nbsp;</span>-->
        <!--            <a target="_blank"-->
        <!--               [href]="this.tosUrl">-->
        <!--              Terms of Service and Conditions-->
        <!--            </a>-->
        <!--          </mat-checkbox>-->
        <!--        </div>-->

        <button mat-raised-button
                id="createAccountButton"
                class="submit-button"
                aria-label="CREATE AN ACCOUNT"
                [color]="colorAccent"
                [disabled]="registerForm.invalid"
                (click)="createAccount()">
          {{createAccountButtonText}}
        </button>
      </form>

      <div class="register" fxLayout="column" fxLayoutAlign="center center"
           [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        <span class="text" [@animate]="{ value: '*', params: { x: '100px' } }">
          {{alreadyHaveAccountText}}
        </span>
        <button mat-button
                id="loginButton"
                type="button"
                [color]="colorAccent"
                (click)="onLoginRequested.emit()"
                [@animate]="{ value: '*', params: { x: '-100px' } }">
          {{loginButtonText}}
        </button>
      </div>

    </div>
  </div>
</div>
