.getting-started {
  margin-top: 1.0rem;
}

.main-container {
  //position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //padding: 48px;
  overflow: auto;
}

.demo-sidenav-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    flex: 0;
  }

  .mat-sidenav-container {
    flex: 1;
  }

  .demo-sidenav-content {
    padding: 32px;
  }

  .demo-filler-content {
    padding: 60px;
  }
}

video {
  max-width: 100%;
}

button:focus {
  outline: none;
}

.comment-container {
  margin: 1rem;
}

.mat-button {
  white-space: normal !important;
}

//::ng-deep ngx-auth-firebaseui .mat-tab-label-container {
//  display: flex;
//}

.lib-compontent{
  margin-bottom: 2rem;
}
