<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Yes!! you are logged in! Congrats</h1>
  </div>
</div>


<div class="container">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>add authGuardFallbackURL and authGuardLoggedInURL to the NgxAuthFirebaseUIModule</mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="example"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="example"
                  matTooltip="copy"
                  (click)="showCopyMessage(example)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
    </mat-card>

    <mat-card class="my-4" fxFlexAlign.gt-xs="center">
      <mat-card-title>use the canActivate feature on your route</mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="example2"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="example2"
                  matTooltip="copy"
                  (click)="showCopyMessage(example2)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui-user>
        </ngx-auth-firebaseui-user>
      </mat-card-content>
    </mat-card>
  </div>
</div>






