<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Enable registration as guest</h1>
  </div>
</div>

<div class="container">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        default - guest enabled
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code highlight [code]="firstTabHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="firstTabHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(firstTabHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui [tabIndex]="1" [guestEnabled]="true"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        guest disabled
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code highlight [code]="secondTabHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="secondTabHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(secondTabHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui [tabIndex]="1" [guestEnabled]="false"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

  </div>

</div>
