<!--The content below is only a placeholder and can be replaced.-->

<div class="demo-toolbar">
  <p>
    <mat-toolbar>
      <mat-icon class="demo-toolbar-icon">menu</mat-icon>
      <span>Default Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <!--<mat-icon>code</mat-icon>-->
    </mat-toolbar>
  </p>
</div>
<div style="text-align:center">
  <img width="300" alt="Angular Logo"
       src="../assets/images/logo/ngx-auth-firebaseui-logo.png">
  <ngx-auth-firebaseui (onSuccess)="printUser($event)" (onError)="printError($event)"></ngx-auth-firebaseui>
</div>

