<div class="jumbotron jumbotron-fluid">
  <!--<div class="container">-->
  <!--<h1>Getting Started</h1>-->
  <!--</div>-->
</div>

<section class="getting-started">
  <!--<div class="container">&lt;!&ndash; put your content here&ndash;&gt;Instructions about how to install/use the library is coming soon...</div>-->

  <ngx-material-pages>
    <ngx-material-page-loader>
      <ngx-material-page-outlook>
        npm install
      </ngx-material-page-outlook>
      <ngx-material-page-content>
        test2wa
      </ngx-material-page-content>
    </ngx-material-page-loader>
    <ngx-material-page-loader>
      <ngx-material-page-outlook>
        npm install 2
      </ngx-material-page-outlook>
      <ngx-material-page-content>
        asfasfaf
      </ngx-material-page-content>
    </ngx-material-page-loader>
  </ngx-material-pages>

  <!--<div style="margin: 4rem">-->
  <!--<disqus [identifier]="'LoTGiMGTSZKq'"></disqus>-->
  <!--</div>-->
</section>
