<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
  </div>
</div>

<section class="getting-started">
  <!--<div class="container">&lt;!&ndash; put your content here&ndash;&gt;Instructions about how to install/use the library is coming soon...</div>-->

  <div>
    <mat-sidenav-container>
      <mat-sidenav #start [mode]="'side'" opened="true"
                   [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">
        <!--<br>-->
        <!--<button mat-raised-button (click)="start.close('mouse')">Close</button>-->
        <!--<br>-->
        <!--<button mat-button (click)="end.open('keyboard')">Open End Side</button>-->
        <!--<br>-->
        <!--<button mat-button (click)="modeIndex = (modeIndex + 1) % 3">Toggle Mode</button>-->
        <!--<div>Mode: {{start.mode}}</div>-->
        <!--<br>-->
        <mat-toolbar color="primary">
        </mat-toolbar>
        <mat-vertical-stepper>
          <!--<mat-step>-->
            <!--<ng-template matStepLabel>npm install</ng-template>-->
            <!--<step-content>-->
              <!--<h2>hello</h2>-->
            <!--</step-content>-->
          <!--</mat-step>-->
          <mat-step>
            <ng-template matStepLabel>npm updated</ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>npm delete</ng-template>
          </mat-step>
        </mat-vertical-stepper>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <button mat-icon-button>
            <mat-icon>back</mat-icon>
          </button>
          ngx-auth-firebaseui - npm install
        </mat-toolbar>
        <div class="demo-sidenav-content main-container">

          <mat-tab-group [selectedIndex]="index">
            <mat-tab>
              <step-content>
                <mat-card style="background: red; margin: 2rem;">
                  <mat-card-title>
                    Title
                  </mat-card-title>
                  <mat-card-content>
                    <h2>test</h2>
                  </mat-card-content>
                </mat-card>
              </step-content>
            </mat-tab>
            <mat-tab>
              <step-content>
                <mat-card>
                  <mat-card-title>
                    Title
                  </mat-card-title>
                  <mat-card-content>
                    <h2>test</h2>
                  </mat-card-content>
                </mat-card>
              </step-content>
            </mat-tab>
          </mat-tab-group>


          <button mat-fab color="primary" (click)="previous()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-fab color="primary" (click)="next()">
            <mat-icon>chevron_right</mat-icon>
          </button>

          <mat-card>
            <mat-card-content>
              <button mat-button (click)="start.toggle(undefined, 'mouse')">Toggle Start Side Sidenav</button>

              <!--<div class="demo-filler-content" *ngFor="let c of fillerContent">Filler Content</div>-->
            </mat-card-content>
          </mat-card>
        </div>
        <mat-toolbar *ngIf="showFooter && coverHeader">Footer</mat-toolbar>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-toolbar *ngIf="showFooter && !coverHeader">Footer</mat-toolbar>
  </div>

</section>
