<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <!--    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">-->
    <div id="login-form">

      <div *ngIf="logoUrl" class="logo">
        <img [src]="logoUrl" alt="logo">
      </div>

      <div class="title">{{titleText}}</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field [appearance]="appearance">
          <input matInput [placeholder]="emailText" formControlName="email">
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            {{emailErrorRequiredText}}
          </mat-error>
          <mat-error
            *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
            {{emailErrorPatternText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance">
          <input matInput type="password" [placeholder]="passwordText" formControlName="password">
          <mat-icon matSuffix color="primary">lock</mat-icon>
          <mat-error>
            {{passwordErrorRequiredText}}
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            {{rememberMeText}}
          </mat-checkbox>

          <button *ngIf="resetPasswordEnabled"
                  mat-button
                  class="forgot-password"
                  color="primary"
                  type="button">
            {{forgotPasswordText}}
          </button>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                [disabled]="loginForm.invalid">
          {{loginButtonText}}
        </button>

      </form>

      <div class="separator">
        <span class="text">{{orLabelText}}</span>
      </div>

      <!--      <ngx-auth-firebaseui-providers layout="column"-->
      <!--                                     theme="raised"-->
      <!--                                     [providers]="providers"></ngx-auth-firebaseui-providers>-->

      <button mat-raised-button class="google">
        Google
      </button>

      <button mat-raised-button class="facebook">
        Facebook
      </button>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">{{dontHaveAnAccountText}}</span>
        <button mat-button
                color="primary"
                type="button"
                (click)="onCreateAccountRequested.emit()">{{createAccountButtonText}}</button>
      </div>

    </div>

  </div>

</div>
