<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animateStagger]="{ value: '50' }">

      <div *ngIf="logoUrl" class="logo">
        <img [src]="logoUrl" alt="logo" [@animate]="{ value: '*', params: { x: '50px' } }">
      </div>

      <div class="title" [@animate]="{ value: '*', params: { x: '-50px' } }">{{titleText}}</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate
            [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input matInput [placeholder]="emailText" formControlName="email">
          <mat-icon matSuffix [color]="color">email</mat-icon>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            {{emailErrorRequiredText}}
          </mat-error>
          <mat-error
            *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
            {{emailErrorPatternText}}
          </mat-error>
        </mat-form-field>

        <mat-form-field [appearance]="appearance" [@animate]="{ value: '*', params: { x: '50px' } }">
          <input matInput type="password" [placeholder]="passwordText" formControlName="password">
          <mat-icon matSuffix [color]="color">lock</mat-icon>
          <mat-error>
            {{passwordErrorRequiredText}}
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password"
             fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center"
             [@animate]="{ value: '*', params: { x: '50px' } }">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            {{rememberMeText}}
          </mat-checkbox>

          <button *ngIf="resetPasswordEnabled"
                  [@animate]="{ value: '*', params: { x: '-50px' } }"
                  mat-button
                  class="forgot-password"
                  [color]="color"
                  type="button">
            {{forgotPasswordText}}
          </button>
        </div>

        <button mat-raised-button
                id="loginButton"
                [color]="colorAccent"
                class="submit-button"
                aria-label="LOG IN"
                [disabled]="loginForm.invalid"
                (click)="login()">
          {{loginButtonText}}
        </button>

      </form>

      <div *ngIf="providers.length > 0"
           class="separator"
           [@animate]="{ value: '*', params: { z: '50px', delay: '50ms', scale: '0.2' } }">
        <span class="text">{{orLabelText}}</span>
      </div>

      <ngx-auth-firebaseui-providers layout="column"
                                     fxLayoutAlign="center center"
                                     theme="raised"
                                     [providers]="providers"></ngx-auth-firebaseui-providers>

      <div *ngIf="registrationEnabled"
           [@animateStagger]="{ value: '100' }"
           class="register"
           fxLayout="column" fxLayoutAlign="center center">
        <span class="text" [@animate]="{ value: '*', params: { x: '100px' } }">
          {{dontHaveAnAccountText}}
        </span>
        <button [@animate]="{ value: '*', params: { x: '-100px' } }"
                mat-button
                id="createAccountButton"
                [color]="color"
                type="button"
                (click)="onCreateAccountRequested.emit()">{{createAccountButtonText}}</button>
      </div>
    </div>
  </div>
</div>
