<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Providers: Google, Facebook, Twitter, Github, Microsoft and Yahoo</h1>
  </div>
</div>

<ngx-auth-firebaseui-providers class="mb-2"></ngx-auth-firebaseui-providers>
<ngx-auth-firebaseui-providers class="mb-2" [theme]="themes.CLASSIC"></ngx-auth-firebaseui-providers>
<ngx-auth-firebaseui-providers class="mb-2" [theme]="themes.STROKED"></ngx-auth-firebaseui-providers>
<ngx-auth-firebaseui-providers class="mb-2" [theme]="themes.RAISED"></ngx-auth-firebaseui-providers>
<ngx-auth-firebaseui-providers class="mb-2" [theme]="themes.FAB"></ngx-auth-firebaseui-providers>
<ngx-auth-firebaseui-providers class="mb-2" [theme]="themes.MINI_FAB"></ngx-auth-firebaseui-providers>
