<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Languages and i18n</h1>
  </div>
</div>

<div class="container">

  <div fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card class="my-3 mx-3">
      <mat-card-title>Pick your favorite language</mat-card-title>
      <mat-card-content fxLayout.xs="column" fxLayoutAlign="center center">
        <!--        <button mat-button fxHide fxShow.gt-xs-->
        <button mat-button
                class="language-button"
                [matMenuTriggerFor]="languageMenu">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
            <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
          </div>
        </button>

        <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

          <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
          </button>

        </mat-menu>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>{{'ngxauthfirebaseui.signInTabText' | translate}}</mat-card-title>
      <ngx-auth-firebaseui
        [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
        [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
        [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
        [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
        [nameText]="'ngxauthfirebaseui.nameText' | translate"
        [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
        [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
        [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
        [emailText]="'ngxauthfirebaseui.emailText' | translate"
        [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
        [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
        [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
        [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
        [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
        [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
        [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
        [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
        [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
        [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
        [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
        [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
        [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
        [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
        [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
      >
      </ngx-auth-firebaseui>
    </mat-card>
  </div>

  <mat-card class="my-3">
    <mat-card-content>
      <markdown src="assets/md/i18n/html.md"></markdown>
    </mat-card-content>
  </mat-card>

</div>
