<mat-card-content fxLayout="column" fxLayoutAlign="center center">
  <mat-icon>email</mat-icon>
  <div class="title">
    Confirm your e-mail address!
  </div>
  <div class="subtitle">
    <p>A confirmation e-mail has been sent to
      <b><strong>{{email}}</strong></b>.</p>
    <p>Check your inbox and click on the link
                   "Confirm my e-mail" to confirm your e-mail address.</p>
  </div>
</mat-card-content>
<mat-card-actions fxLayoutAlign="center center">
  <button mat-button
          color="primary"
          routerLink="/">
    Go back to the sign up page
  </button>
</mat-card-actions>
