<mat-card-content fxLayout="column" fxLayoutAlign="center center">
  <mat-icon>email</mat-icon>
  <div class="title">
    {{title}}
  </div>
  <div class="subtitle">
    <!--    <p>A confirmation e-mail has been sent to-->
    <!--      <b><strong>{{email}}</strong></b>.</p>-->
    <p>{{text}}</p>
  </div>
</mat-card-content>

<mat-card-actions *ngIf="goBackURL"
                  fxLayoutAlign="center center">
  <a mat-button
     color="primary"
     [href]="goBackURL">
    Go back
  </a>
</mat-card-actions>
