<mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <mat-icon>email</mat-icon>
    <div class="title">
        Bestätigen Sie Ihre E-Mail-Adresse!
    </div>
    <div class="subtitle">
        <p>Eine Bestätigungs-E-Mail wurde an
            <b><strong>eample@mymail.com gesendet</strong></b>.</p>
        <p>Überprüfen Sie Ihren Posteingang und klicken Sie auf den Link
            "Bestätige meine E-Mail", um Ihre E-Mail-Adresse zu bestätigen.</p>
    </div>
</mat-card-content>
<mat-card-actions fxLayoutAlign="center center">
    <button mat-button
            color="primary"
            routerLink="/">
        Gehe zurück zur Anmeldeseite
    </button>
</mat-card-actions>