/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom CSS style for avatar mat-menu
.ngx-auth-firebaseui-avatar-menu {
    margin-top: 5px;
}