<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Appearance</h1>
  </div>
</div>

<div class="container">

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        standard
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="standardHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="standardHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(standardHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui appearance="standard"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        fill
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="fillHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="fillHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(fillHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui appearance="fill"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        outline
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="outlineHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="outlineHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(outlineHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui appearance="outline"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlexAlign.gt-xs="center">
      <mat-card-title>
        legacy
      </mat-card-title>
      <mat-card-subtitle>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <pre><code [highlight]="legacyHtml"></code></pre>
          <button mat-icon-button
                  ngxClipboard
                  [cbContent]="legacyHtml"
                  matTooltip="copy"
                  (click)="showCopyMessage(legacyHtml)">
            <mat-icon aria-label="copy content" class="mat-18">content_copy</mat-icon>
          </button>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-auth-firebaseui appearance="legacy"></ngx-auth-firebaseui>
      </mat-card-content>
    </mat-card>

  </div>

</div>
