<!--NPM VERSION-->
<a href="https://badge.fury.io/js/ngx-auth-firebaseui">
  <img src="https://badge.fury.io/js/ngx-auth-firebaseui.svg" alt="npm version">
</a>

<!--CIRCLECI-->
<a href="https://badge.fury.io/js/ngx-auth-firebaseui">
  <img src="https://img.shields.io/circleci/project/github/AnthonyNahas/ngx-auth-firebaseui/master.svg?label=circleci"
       alt="circleci build status">
</a>

<!--DOWNLOADS-->
<a href="https://www.npmjs.com/package/ngx-auth-firebaseui">
  <img src="https://img.shields.io/npm/dt/ngx-auth-firebaseui.svg?style=flat-square" alt="downloads">
</a>

<!--NODE-->
<a href="https://www.npmjs.com/package/ngx-auth-firebaseui">
  <img src="https://img.shields.io/node/v/ngx-auth-firebaseui.svg" alt="node version">
</a>

<!--NGX-AUTH-->
<a href="https://www.npmjs.com/package/ngx-auth-firebaseui">
  <img src="https://img.shields.io/badge/ngx-auth-firebaseui.svg" alt="npm version">
</a>

<!--FORK-->
<a href="https://github.com/anthonynahas/ngx-auth-firebaseui">
  <img alt="github forks"
       src="https://img.shields.io/github/forks/anthonynahas/ngx-auth-firebaseui.svg?style=social&label=Fork">
</a>

<!--STAR-->
<a href="https://github.com/anthonynahas/ngx-auth-firebaseui">
  <img alt="github stars"
       src="https://img.shields.io/github/stars/anthonynahas/ngx-auth-firebaseui.svg?style=social&label=Star">
</a>

<!--FOLLOWER-->
<a href="https://github.com/anthonynahas/ngx-auth-firebaseui">
  <img alt="github followers"
       src="https://img.shields.io/github/followers/anthonynahas.svg?style=social&label=Follow">
</a>

<!--LICENSE-->
<a href="https://github.com/anthonynahas/ngx-auth-firebaseui/blob/master/LICENSE">
  <img alt="license"
       src="https://img.shields.io/github/license/anthonynahas/ngx-auth-firebaseui.svg?style=flat-square">
</a>

<!--TWITTER-->
<a href="https://www.npmjs.com/package/ngx-auth-firebaseui">
  <img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social" alt="twitter">
</a>

<!--TWITTER FOLLOWERS-->
<a href="https://www.npmjs.com/package/ngx-auth-firebaseui">
  <img src="https://img.shields.io/twitter/follow/ngAnthonyy.svg?style=social&label=Follow" alt="twitter followers">
</a>
