<mat-tab-group>
    <mat-tab label="Sign up">
        <mat-card>
            <mat-card-title>Registration</mat-card-title>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div fxLayout="row">
                        <mat-form-field>
                            <input matInput
                                   placeholder="first name"
                                   [(ngModel)]="signUpProcess.firstName"
                                   name="firstName"
                                   required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   placeholder="last name"
                                   [(ngModel)]="signUpProcess.lastName"
                                   name="lastName"
                                   required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <input matInput
                               placeholder="email"
                               name="email"
                               [(ngModel)]="signUpProcess.email"
                               [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('pattern')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                    <div fxFlex.xs="row" fxLayoutAlign="center center">
                        <mat-form-field>
                            <input matInput
                                   placeholder="password"
                                   type="password"
                                   name="password"
                                   [(ngModel)]="signUpProcess.password"
                                   required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   placeholder="confirm password"
                                   type="password"
                                   name="passwordConfirmation"
                                   [(ngModel)]="signUpProcess.passwordConfirmation"
                                   required>
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <button color="primary"
                            mat-raised-button
                            style="margin-top: 20px"
                            (click)="signUpProcess.signUp()">
                        Register
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Log in">
        <mat-card>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field>
                        <input matInput
                               placeholder="email"
                               [(ngModel)]="signInProcess.email"
                               required>
                        <mat-error>This field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="password" [(ngModel)]="signInProcess.password" required>
                        <mat-error>This field is required</mat-error>
                    </mat-form-field>
                    <button style="margin-top: 20px" mat-raised-button color="primary">Log in</button>
                    <button style="margin-top: 20px" mat-button color="primary">Forgot Password?</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>
<ngx-auth-firebaseui-providers></ngx-auth-firebaseui-providers>
